<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422558597284-ah0k63uuhrgd0f9vh6u7mkrgv18rrndm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422558597284-ah0k63uuhrgd0f9vh6u7mkrgv18rrndm</string>
	<key>API_KEY</key>
	<string>AIzaSyCMriZehY8zw6rZX1-Zm7mLQTrNoy_3SxM</string>
	<key>GCM_SENDER_ID</key>
	<string>422558597284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onlineshopping.onlineShopping.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>online-shopping-2468b</string>
	<key>STORAGE_BUCKET</key>
	<string>online-shopping-2468b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422558597284:ios:49f50e658d8bbc61c7e631</string>
</dict>
</plist>